section.sec_exp {
  width: 80%;
  flex-direction: var(--isc-flex-column);
  border: var(--isc-b-sec-est-exp);
  border-radius: var(--isc-br-1);
  background-color: var(--isc-bg-color1);
  gap: var(--isc-gap-4);
  padding: var(--isc-padding-2);
  position: var(--isc-position-rel);
  display: var(--isc-disp-none);
}

section.sec_exp p:nth-of-type(odd) {
  font-size: var(--isc-fs-exp-title);
  font-weight: var(--isc-fw-sb);
  margin-bottom: var(--isc-margin-4);
}

section.sec_exp p:nth-of-type(even) {
  margin-bottom: var(--isc-margin-10);
  font-size: var(--isc-fs-p);
  text-align: var(--isc-text-align);
}
