section.hero {
  width: 100%;
  flex-direction: var(--isc-flex-column);
  padding: var(--isc-padding-2);
  position: var(--isc-position-rel);
  top: -150px;
  padding-top: var(--isc-padding-200);
}

div.div_profile {
  padding-left: var(--isc-padding-4);
  width: 100%;
  gap: var(--isc-gap-4);
  justify-content: var(--isc-jc-fs);
  align-items: var(--isc-ai-center);
}

.div_avatar > img {
  width: 100px;
  object-fit: cover;
}

.btn_animated {
  position: var(--isc-position-rel);
  background-color: var(--isc-bg-btn-animated);
  width: 220px;
  height: 30px;
  border-radius: var(--isc-br-1);
  overflow: hidden;
}

.btn_animated::before {
  content: '';
  position: var(--isc-position-abs);
  background-color: var(--isc-bc-btn-animated);
  width: 280px;
  height: 80px;
  animation: moving 10s linear infinite;
}

.btn_animated::after {
  content: '';
  position: var(--isc-position-abs);
  background-color: var(--isc-dark-green-color);
  inset: 1px;
  border-radius: var(--isc-br-1);
}

.a_job {
  text-align: var(--isc-text-align);
  background-color: var(--isc-bg-btn-animated);
  padding: var(--isc-padding-2-10);
  font-weight: var(--isc-fw-sb);
  z-index: 1;
}

@keyframes moving {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn_animated:hover {
  box-shadow: var(--isc-bs-btn-animated);
  transform: scale(1.1);
}

div.info_hero {
  flex-direction: var(--isc-flex-column);
  align-items: var(--isc-ai-center);
  padding: var(--isc-padding-2-5);
}

div.info_hero > * {
  font-weight: var(--isc-fw-sb);
  padding-top: var(--isc-padding-2);
}

div.info_hero > h2 {
  font-size: var(--isc-fs-48);
  line-height: 48px;
}

div.info_hero > p {
  font-size: var(--isc-fs-clamp);
  line-height: 40px;
}

div.btn_contacts {
  margin-top: var(--isc-margin-4);
  width: 100%;
  gap: var(--isc-gap-4);
  justify-content: var(--isc-jc-fe);
}

.btn_contacts > a {
  padding: var(--isc-padding-1-2);
  border: var(--isc-b-btn-contacts);
  border-radius: var(--isc-br-1);
  font-size: var(--isc-fs-p);
  cursor: pointer;
}

.btn_contacts > a:hover {
  background-color: var(--isc-black-color);
  box-shadow: var(--isc-bs-btn-contacts);
  border: var(--isc-b-btn-cont-hover);
}

div.div_mail {
  margin-top: var(--isc-margin-10);
  width: 100%;
  padding: var(--isc-padding-2);
  gap: var(--isc-gap-2);
  font-size: var(--isc-fs-p);
  transition: all 1s linear;
  display: var(--isc-disp-none);
  animation: slidein 1s ease-in-out;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: -300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}

div.show_mail {
  display: var(--isc-disp-flex);
}

div.div_mail p:nth-of-type(2) {
  cursor: copy;
  font-weight: var(--isc-fw-sb);
}
