main.main {
  width: 100%;
  align-items: var(--isc-ai-fs);
}

section.sec_est_exp {
  position: var(--isc-position-rel);
  width: 100%;
  top: -100px;
  padding-top: var(--isc-padding-20);
}

.div_est_exp {
  width: 100%;
  height: 100%;
}

div.sec_selection {
  width: 100%;
  height: 20%;
  gap: var(--isc-gap-4);
  background-color: var(--isc-black-color);
  position: var(--isc-position-rel);
  padding-top: var(--isc-padding-50);
  overflow: hidden;
}

.sec_selection p {
  cursor: pointer;
  padding-top: var(--isc-padding-4);
  font-size: var(--isc-fs-exp-title);
  background-color: var(--isc-black-color);
}

div.div_section {
  width: 100%;
  height: 100%;
  padding: var(--isc-padding-4);
  gap: var(--isc-gap-30);
  background-color: var(--isc-black-color);
  align-items: var(--isc-ai-fs);
}

p.selected {
  border-bottom: var(--isc-b-est-exp);
}

section.div_sx_show {
  display: var(--isc-disp-flex);
}

@media screen and (max-width: 915px) {
  section.sec_est_exp {
    padding-top: var(--isc-padding-50);
  }
}

@media screen and (max-width: 455px) {
  section.sec_est_exp {
    padding-top: var(--isc-padding-80);
  }
}

@media screen and (max-width: 388px) {
  section.sec_est_exp {
    padding-top: var(--isc-padding-120);
  }
}
