div.main_container {
  flex-direction: var(--isc-flex-column);
  justify-content: var(--isc-jc-fs);
  width: 100%;
  gap: var(--isc-gap-4);
}

.flex_container {
  display: var(--isc-disp-flex);
  justify-content: var(--isc-jc-center);
  align-items: var(--isc-ai-center);
  flex-wrap: var(--isc-flex-w);
}
