div.main_container {
  border: 3px solid #83008b;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  gap: 5%;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
