header.header {
  width: 100%;
  gap: var(--isc-gap-5);
  padding: var(--isc-padding-2);
  justify-content: var(--isc-jc-sb);
  position: var(--isc-position-sticky);
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--isc-bg-header);
  border-bottom: var(--isc-b-header);
}

.links {
  width: 70%;
  cursor: pointer;
}

.ulLinks {
  padding: var(--isc-padding-0-2);
  gap: var(--isc-gap-10-50);
}

.ulLinks a li {
  font-size: var(--isc-fs-clamp);
  font-weight: var(--isc-fw-sb);
}

.ulLinks li:hover {
  color: var(--isc-color-li-hover);
}

@media screen and (max-width: 388px) {
  div.div_logo {
    transform: translateX(50px) scale(1.4);
  }
}
