header.header {
  width: 100%;
  gap: var(--isc-gap-5);
  padding: var(--isc-padding-2);
  justify-content: var(--isc-jc-sb);
  position: var(--isc-position-sticky);
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--isc-bg-header);
  border-bottom: var(--isc-b-header);
}

.div_logo {
  z-index: 1;
}

.links {
  width: 70%;
  cursor: pointer;
  transition: all 1s;
}

ul.ulLinks {
  padding: var(--isc-padding-0-2);
  gap: var(--isc-gap-10-50);
  flex-wrap: nowrap;
}

.ulLinks a li {
  font-size: var(--isc-fs-clamp);
  font-weight: var(--isc-fw-sb);
}

.ulLinks li:hover {
  color: var(--isc-color-li-hover);
}

@media screen and (min-width: 730px) and (max-width: 1024px) {
  .links {
    width: 90%;
  }
}

@media screen and (min-width: 650px) and (max-width: 729px) {
  div.links {
    position: absolute;
    margin-left: -600px;
    width: 75%;
  }

  div.show {
    margin-left: 15%;
  }

  ul.ulLinks {
    width: 100%;
    gap: 10px 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  header.header {
    height: 200px;
  }

  div.div_logo {
    transform: translateX(50px) scale(1.4);
  }

  div.links {
    display: none;
    width: 50%;
    transition: all 1s 0.4s;
  }

  ul.ulLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  div.show {
    display: flex;
  }
}
